@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>1 - ASSIDUIDADE :</span>
        <select class="form-select form-select-sm" asp-for="Crit1_Clau1">
            <option value=""> </option>
            <option value="15">15</option>
            <option value="12">12</option>
            <option value="9">9</option>
            <option value="6">6</option>
        </select>
    </li>
</ul>