@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>2 - DISCIPLINA : </span></li>
    <li class="list-group-item">2.1 - Cumpre as ordens superiores sem resistência injustificada.
        <select class="form-select form-select-sm" asp-for="Crit2_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">2.2 - Ausenta-se do local de trabalho sem autorização da chefia.
        <select class="form-select form-select-sm" asp-for="Crit2_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">2.3 - Observa e cumpre a legislação, em especial as normas da
        Prefeitura.
        <select class="form-select form-select-sm" asp-for="Crit2_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">2.4 Executa suas atividades sem interrupções desnecessárias.
        <select class="form-select form-select-sm" asp-for="Crit2_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">2.5 Sofreu alguma penalidade disciplinar.
        <select class="form-select form-select-sm" asp-for="Crit2_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>
</ul>