@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>2 - DISCIPLINA : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>2.1 - Cumpre as ordens superiores sem resistência injustificada.</p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit2_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit2_Clau1">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>2.2 - Dá conhecimento ou solicita da chefia imediata permissão para ausentar-se do local de trabalho, por motivos justificados.</p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit2_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit2_Clau2">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm p-0 m-0">2.3 - Acata recomendações ou orientações superiores e cumpre leis, normas e regulamentos, em especial as Normas da Prefeitura.(Direitos,Deveres e Obrigações).</p>
            <p>2.3.1 - LDB, ECA, PCN e outras. <span class="fw-bold"> (ESPECÍFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit2_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit2_Clau3">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            2.4 - Executa suas atividades sem interrupções desnecessárias.
        </div>
        <select class="form-select form-select-sm" asp-for="Crit2_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit2_Clau4">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm p-0 m-0">2.5 - Sofreu alguma penalidade disciplinar. <span class="fw-bold">  (Pontuação nos termos do Art.34 - NS 03/23 - Manual do Servidor).</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit2_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit2_Clau5">
    </li>
</ul>