@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>9 - EFICIÊNCIA : </span></li>
    <li class="list-group-item">9.1 - Demonstra flexibilidade na execução do trabalho.
        <select class="form-select form-select-sm" asp-for="Crit9_Clau1">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">9.2 - Planeja, organiza e executa as tarefas corretamente.
        <select class="form-select form-select-sm" asp-for="Crit9_Clau2">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">9.3 - Na solução de problemas, utiliza corretamente os recursos
        disponíveis.
        <select class="form-select form-select-sm" asp-for="Crit9_Clau3">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">9.4 - Avalia a satisfação ou insatisfação das pessoas para melhorar
        a qualidade de seus serviços.
        <select class="form-select form-select-sm" asp-for="Crit9_Clau4">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">9.5 - Participa de reuniões, cursos ou treinamentos para
        aperfeiçoamento ou especialização, quando oferecidos.
        <select class="form-select form-select-sm" asp-for="Crit9_Clau5">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>
</ul>