@model Assessment

@using SEP_Web.Models.AssessmentsModels

<ul class="list-group">
    <li class="list-group-item"><span>9 - EFICIÊNCIA : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>
                9.1 - Demonstra criatividade no trabalho.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit9_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit9_Clau1">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                9.2 - Planeja, organiza e executa as tarefas corretamente.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit9_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit9_Clau2">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                9.3 - Na solução de problemas, utiliza corretamente os recursos disponíveis.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit9_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit9_Clau3">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm m-0 p-0">9.4 - Avalia a satisfação ou insatisfação das pessoas para melhorar a qualidade de seus serviços.</p>
            <p>9.4.1 - Desenvolve eficiente gestão de sala de aula, cria ambiente propício ao desenvolvimento da aprendizagem e de   relações humanas saudáveis, orienta os alunos quanto à necessidade de organização e conservação dos equipamentos, mobiliários e do prédio escolar. <span>(ESPECÍFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit9_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit9_Clau4">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>9.5 - Participa de reuniões, cursos ou treinamentos para aperfeiçoamento ou especialização, quando oferecidos.</p>
            <p>9.5.1 - Participa de grupos de estudos, da construção do projeto pedagogico da escola / reuniões pedagógicas, cursos, eventos e palestras disponibilizados pelo sistema; estuda e se orienta pelos materiais institucionais da SEMEC e outros. <span>(ESPECÍFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit9_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit9_Clau5">
    </li>
</ul>