@model Assessment

@using SEP_Web.Models.AssessmentsModels

<ul class="list-group">
    <li class="list-group-item"><span>3 - CAPACIDADE DE INICIATIVA : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>3.1 - Organiza e planeja sua demanda de trabalho, estabelecendo prioridades que garantem o cumprimento dos prazos estabelecidos, utilizando os recursos de forma eficaz e racional para alcance dos objetivos.</p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit3_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit3_Clau1">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>3.2 - Apresenta dinamismo, iniciativa e colaboração para solução de problemas, expondo idéias relacionadas às funções de seu cargo.</p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit3_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit3_Clau2">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>3.3 - Busca prever situações e atuar antecipadamente, adotando ações proativas que contribuam para os resultados da unidade.</p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit3_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit3_Clau3">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm m-0 p-0">3.4 - Busca por iniciativa própria, conhecimentos e habilidades no desempenho de seu trabalho.</p><p class="fs-sm m-0 p-0">3.4.1 - Analisa e utiliza os resultados de avaliações internas e externas para diagnosticar os níveis de aprendizagem dos alunos, avaliar a eficacia do ensino e implementar intervenções pedagógicas, quando necessário. <span>(ESPECÍFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit3_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit3_Clau4">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm m-0 p-0">3.5 - Apresenta sugestões para a melhoria do trabalho.</p>
            <p>3.5.1 - Facilita a aprendizagem utilizando materiais didáticos e processos pedagógicos que estimulam e desafiam os alunos na superação das dificuldades. <span>(ESPECIFICO PARA PROFISSIONAIS DA EDUCACAO)</span></p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit3_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit3_Clau5">
    </li>
</ul>