@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>3 - CAPACIDADE DE INICIATIVA : </span></li>
    <li class="list-group-item">3.1 - Independe de cobrança pra executar seu trabalho.
        <select class="form-select form-select-sm" asp-for="Crit3_Clau1">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">3.2 - Age adequadamente diante de situações novas imprevistas.
        <select class="form-select form-select-sm" asp-for="Crit3_Clau2">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">3.3 - Mantém medidas preventivas, a fim de evitar ocorrência de
        problemas.
        <select class="form-select form-select-sm" asp-for="Crit3_Clau3">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">3.4 - Busca por iniciativa própria, conhecimentos e habilidades no
        desempenho de seu trabalho.
        <select class="form-select form-select-sm" asp-for="Crit3_Clau4">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">3.5 - Apresenta sugestões para a melhoria do trabalho.
        <select class="form-select form-select-sm" asp-for="Crit3_Clau5">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>
</ul>