@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>6 - RELACIONAMENTO INTERPESSOAL : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>
                6.1 - Tem bom relacionamento com as chefias e colegas de trabalho.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit6_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                6.2 - Relaciona-se cordialmente com todos do seu ambiente de trabalho, cumpre as normas legais e as decisões pactuadas ou emana das instâncias hieráquicas, agindo segundo os princípios éticos que norteiam a administração pública.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit6_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm m-0 p-0">6.3 - Trata o público com respeito, cortesia, prestando atendimento de qualidade e sem discriminação, orientando e encaminhando corretamente os usuários do sistema.</p>
            <p>6.3.1 - Respeita a diversidade, adotando práticas inclusivas e éticas no relacionamento com a comunidade e com os alunos em sala de aula. <span>(ESPECÍFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit6_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select> 
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p class="fs-sm m-0 p-0">6.4 - Divide seu conhecimento e experiência com os outros, preocupa-se com o bom andamento das atividades auxiliando os colegas quando estão sobrecarregados.</p>
            <p>6.4.1 - Participa do trabalho de equipe e das ações da escola que envolvem interação com as famílias e alunos, contribuindo para o desenvolvimento das atividades de aprendizagem, recreação e convivência. <span>(ESPECIFICO PARA PROFISSIONAIS DA EDUCAÇÃO)</span></p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit6_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                6.5 - Aceita idéias e sugestões para aperfeiçoamento e melhoria do trabalho.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit6_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>
</ul>