@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>6 - RELACIONAMENTO INTERPESSOAL : </span></li>
    <li class="list-group-item">6.1 - Tem bom relacionamento com as chefias e colegas de trabalho.
        <select class="form-select form-select-sm" asp-for="Crit6_Clau1">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">6.2 - Colabora com a equipe de trabalho, visando o bom andamento do
        serviço.
        <select class="form-select form-select-sm" asp-for="Crit6_Clau2">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">6.3 - Trata o público com respeito, cortesia e sem discriminação,
        prestando as orientações e informações solicitadas, ressalvadas as protegidas por sigilo.
        <select class="form-select form-select-sm" asp-for="Crit6_Clau3">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">6.4 - Auxilia o colega em suas dificuldades de trabalho.
        <select class="form-select form-select-sm" asp-for="Crit6_Clau4">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">6.5 - Aceita críticas visando a melhoria do trabalho.
        <select class="form-select form-select-sm" asp-for="Crit6_Clau5">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>
</ul>