@using SEP_Web.Models

@model Assessment

<ul class="list-group">

    <li class="list-group-item"><span>10 - OUTROS :</span>

        <li class="list-group-item"> O servidor apresenta limitação fisica ou mental no exercício da função que dificulta a execução de suas atividades no trabalho.
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="sim" value="1" asp-for="MedicalRestriction">
                    <label class="form-check-label me-3" for="sim"> Sim </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="nao" value="0" asp-for="MedicalRestriction" checked>
                    <label class="form-check-label" for="nao"> Não </label>
                </div>
            </div>
        </li>

        <li class="list-group-item"> O servidor foi encaminhado à Junta Médica : 

            <div id="clau10-row" class="d-flex flex-row">

                <div class="form-check">
                    <input class="form-input  me-3" type="text" id="justification" asp-for="Crit10_Justification">
                    <label class="form-label" for="justification" hidden>Justificativa</label>
                </div>

                <span class="fw-normal">Dia:</span>

                <div class="form-check">
                    <input class="form-input" type="date" id="forwardingDate" asp-for="ForwardingDate">
                    <label class="form-label" for="forwardingDate" hidden> Data de Encaminhamento </label>
                </div>

            </div>

        </li>

    </li>
</ul>