@model Assessment

@using SEP_Web.Models.AssessmentsModels

<ul class="list-group">

    <li class="list-group-item"><span>10 - OUTROS :</span>

        <li class="list-group-item clau10-radio"> 
            <p>
                O servidor apresenta limitação fisica ou mental no exercício da função que dificulta a execução de suas atividades no trabalho.
            </p>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input class="form-check-input me-1" type="radio" name="MedicalRestriction" id="sim" value="1" asp-for="MedicalRestriction">
                    <label class="form-check-label me-1" for="sim"> Sim </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input me-1" type="radio" name="MedicalRestriction" id="nao" value="0" asp-for="MedicalRestriction">
                    <label class="form-check-label" for="nao"> Não </label>
                </div>
            </div>
        </li>

        <li class="list-group-item"> O servidor foi encaminhado à Junta Médica : 

            <div id="clau10-row" class="d-flex flex-row">

                <div class="form-check">
                    <input class="form-control me-3" placeholder="Justifique o encaminhamento do servidor ..." type="text" id="justification" asp-for="Crit10_Justification">
                    <label class="form-label" for="justification" hidden>Justificativa</label>
                </div>

                <span class="fw-normal">Dia:</span>

                <div class="form-check">
                    <input class="form-control" type="date" name="ForwardingDate" id="forwardingDate" asp-for="ForwardingDate" value="@Model.ForwardingDate?.ToString("yyyy-MM-dd")">
                    <label class="form-label" for="forwardingDate" hidden> Data de Encaminhamento </label>
                </div>

            </div>

        </li>

    </li>
</ul>