@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>5 - PRODUTIVIDADE : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            5.1 - Produz a quantidade mínima exigida em cada atividade do cargo.
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit5_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                5.2 - Desenvolve as atribuições do cargo com técnica, habilidade na organização e no estabelecimento de prioridades, atendendo efetivamente as exigências e prazos legais.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit5_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                5.3 - Organiza seu tempo para atender às solicitações da chefia e o aumento inesperado de trabalho e executa as ações dentro dos prazos previstos.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit5_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                5.4 - Participa de atividades de capacitação, sempre busca novos conhecimentos, compartilha os conhecimentos e os utiliza para melhorar seu desempenho e de seu ambiente de trabalho.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit5_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                5.5 - Avalia com frequencia os resultados do seu trabalho, com vista a garantia da qualidade.
            </p>
        </div>
        <input placeholder="insira uma justificativa..." class="form-control w-25 me-3"type="text">
        <select class="form-select form-select-sm" asp-for="Crit5_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>
</ul>