@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>5 - PRODUTIVIDADE : </span></li>
    <li class="list-group-item">5.1 - Produz a quantidade mínima exigida em cada atividade do cargo.
        <select class="form-select form-select-sm" asp-for="Crit5_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">5.2 - Demonstra conhecimento prático, técnico ou teórico no
        desempenho de suas funções.
        <select class="form-select form-select-sm" asp-for="Crit5_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">5.3 - Executa as atividades do cargo corretamente evitando refazer o
        trabalho.
        <select class="form-select form-select-sm" asp-for="Crit5_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">5.4 - Procura atualizar-se para o desempenho das funções do cargo.
        <select class="form-select form-select-sm" asp-for="Crit5_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>

    <li class="list-group-item">5 - Os bens e ou serviços produzidos têm qualidade.
        <select class="form-select form-select-sm" asp-for="Crit5_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
    </li>
</ul>