@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>8 - PONTUALIDADE :</span>
        <select class="form-select form-select-sm" asp-for="Crit8_Clau1">
            <option value=""> - </option>
            <option value="15">15 pts</option>
            <option value="12">12 pts</option>
            <option value="9">9 pts</option>
            <option value="6">6 pts</option>
        </select>
    </li>
</ul>