@using SEP_Web.Models.AssessmentsModels

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>4 - RESPONSABILIDADE : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>
                4.1 - Preocupa em atingir os resultados das tarefas que lhe são confiadas.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit4_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit4_Clau1">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                4.2 - Reconhece a importância do trabalho que realiza, revê e aperfeiçoa e cumpre os prazos.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit4_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit4_Clau2">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                4.3 - Estimula o exercício da democracia e da cidadania.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit4_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit4_Clau3">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                4.4 - Cumpre os deveres que hes são designados e responde por suas prôprias ações perante o seu superior e o grupo, sem atribuir culpa aos outros.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit4_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit4_Clau4">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                4.5 - Comporta-se com ética e cumpre os princípios fundamentais que regem o exercício da função pública, primando pela idoneidade e sendo exemplo no setor de trabalho.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit4_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit4_Clau5">
    </li>
</ul>