@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>4 - RESPONSABILIDADE : </span></li>
    <li class="list-group-item">4.1 - Preocupa em atingir os resultados das tarefas que lhe são
        confiadas.
        <select class="form-select form-select-sm" asp-for="Crit4_Clau1">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">4.2 - Tem compromisso e co-responsabilidade no alcance dos
        resultados.
        <select class="form-select form-select-sm" asp-for="Crit4_Clau2">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">4.3 - Estimula o exercício da democracia e da cidadania.
        <select class="form-select form-select-sm" asp-for="Crit4_Clau3">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">4.4 - Assume os próprios erros e procura corrigi-los.
        <select class="form-select form-select-sm" asp-for="Crit4_Clau4">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>

    <li class="list-group-item">4.5 - Apresenta comportamentos adequados à ética, moral e bons
        costumes.
        <select class="form-select form-select-sm" asp-for="Crit4_Clau5">
            <option value=""> </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </li>
</ul>