@using SEP_Web.Models

@model Assessment

<ul class="list-group">
    <li class="list-group-item"><span>7 - ZELO COM O PATRIMÔNIO : </span></li>
    <li class="list-group-item">
        <div class="line-assess">
            <p>
                7.1 - Sabe usar e conservar as máquinas, veículos e outros equipamentos utilizados no ambiente de trabalho.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit7_Clau1">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit7_Clau1">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                7.2 - Ajuda a zelar dos bens móveis e imóveis do Município.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit7_Clau2">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit7_Clau2">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                7.3 - É comprometido e responsável, evita desperdício no uso de equipamentos e materiais, solicita reposição ou manutenção, quando necessário.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit7_Clau3">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit7_Clau3">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                7.4 - Procura conhecer e aperfeiçoar suas técnicas de utilização de máquinas e equipamentos.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit7_Clau4">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit7_Clau4">
    </li>

    <li class="list-group-item">
        <div class="line-assess">
            <p>
                7.5 - Facilita a utilização de máquinas e equipamentos sob sua guarda para os colegas de trabalho.
            </p>
        </div>
        <select class="form-select form-select-sm" asp-for="Crit7_Clau5">
            <option value=""> - </option>
            <option value="1">1 pt</option>
            <option value="2">2 pts</option>
            <option value="3">3 pts</option>
            <option value="4">4 pts</option>
            <option value="5">5 pts</option>
            <option value="6">6 pts</option>
            <option value="7">7 pts</option>
            <option value="8">8 pts</option>
            <option value="9">9 pts</option>
            <option value="10">10 pts</option>
        </select>
        <input placeholder="insira uma justificativa..." class="form-control ms-3 justification" type="text" asp-for="Jus_Crit7_Clau5">
    </li>
</ul>