@model ICollection<Licenses>
@using SEP_Web.Models
@{
    ViewData["Title"] = "Licenças";
}

<div>

    <div class="container-fluid justify-content-start w-100 pop-up">
        <a title="Cadastrar nova licença ..." style="width: 15vh;" type="button" data-bs-toggle="modal"
            data-bs-target="#license-register" class="btn btn-primary d-flex justify-content-evenly btn-md mb-3"><i
                class="bi bi-building-add"></i> Novo</a>

        @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")
    </div>

    @* Modal de Registro *@

    <div class="modal fade" id="license-register" tabindex="-1" role="dialog"
        aria-labelledby="license-registerTitle" aria-hidden="true">

        <div class="modal-dialog modal-md modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header bg-primary text-light p-3">
                    <h3 class="modal-title fs-4 text-center">Adicionar licença</h3>
                    <a type="button" class="btn-close bg-light" asp-action="Index" asp-controller="License"></a>
                </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("_Register.cshtml", new Licenses())
                </div>

            </div>

        </div>

    </div>

    @* Fim do Modal de Registro *@

    <div class="card">

        <div class="card-header bg-primary text-light">
            <span class="fw-bold">@ViewData["Title"] :</span>
        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table id="license-table" class="table table-sm table-bordered table-striped table-light table-style p-0">

                    <thead class="table-light bg-danger border-light text-primary">
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (Licenses license in Model)
                        {
                            <tr class="table-light border-light">

                                <td scope="row">@license.Name.ToUpper()</td>

                                <td scope="row">

                                    <button type="button" title="Editar licença ..." data-bs-toggle="modal"
                                        data-bs-target="#edit-license@(license.Id)"
                                        class="btn btn-sm btn-outline-primary"><i title="Editar licença ..."
                                            class="bi bi-building-up"></i></button>

                                    <button type="button" title="Excluir licença ..." data-bs-toggle="modal"
                                        asp-route-id="@license.Id"
                                        data-bs-target="#deleteLicense@(license.Id)"
                                        class="btn btn-sm btn-outline-danger"><i title="Excluir licença ..."
                                            class="bi bi-building-x"></i></button>

                                </td>

                            </tr>

                            @* Modal de Edição 

                            <div class="modal fade" id="edit-instituitionModal@(instituition.Id)" tabindex="-1"
                                role="dialog" aria-labelledby="edit-instituitionModal@(instituition.Id)" aria-hidden="true">

                                <div class="modal-dialog modal-md modal-dialog-centered" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header bg-primary p-3">
                                            <h3 class="modal-title text-light fs-4 text-center">Editar órgão</h3>
                                            <a type="button" class="btn-close bg-light" asp-action="Index"
                                                asp-controller="Instituition"></a>
                                        </div>
                                        <div class="modal-body p-1">
                                            @await Html.PartialAsync("_Edit.cshtml", instituition)
                                        </div>
                                    </div>

                                </div>

                            </div>

                            Fim do Modal de Edição *@


                            @* Modal de Exclusão 

                            <div class="modal fade" id="deleteInstituition@(instituition.Id)" tabindex="-1" role="dialog"
                                aria-labelledby="deleteInstituition@(instituition.Id)" aria-hidden="true">

                                <div class="modal-dialog modal-md modal-dialog-centered" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header bg-danger p-3">
                                            <h3 class="modal-title text-light fs-4 text-center">Alerta</h3>
                                            <a type="button" class="btn-close bg-light" asp-action="Index"
                                                asp-controller="Instituition"></a>
                                        </div>
                                        <div class="modal-body p-1">
                                            @await Html.PartialAsync("_Delete.cshtml", instituition)
                                        </div>
                                    </div>

                                </div>

                            </div>

                            Fim do Modal de Exclusão *@
                        }

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>