@using SEP_Web.Keys
@using System.Text.Json
@using SEP_Web.Models
@using SEP_Web.Models.UsersModels
@using System.Text

@model Users

@inject IHttpContextAccessor _httpContext

<div class="change-pass users-manager-container">

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle rounded-3 bg-primary text-light" id="menu-config" title="Menu de modificações do usuário"
                role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="bi bi-gear-fill"></i></a>

            <ul class="dropdown-menu" aria-labelledby="menu-config">
                @if(_httpContext.HttpContext.Session.GetInt32("userType") == Convert.ToInt32(UsersTypeEnum.User_Admin))
                {
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#change-pass"
                        title="Alterar senha do usuário !" class="dropdown-item"><i title="Altere a senha do usuário !"
                            class="bi bi-file-earmark-lock2"> </i>Alterar senha</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#change-structures"
                            title="Altere as entidades órgão, divisão, seção ou setor do usuário!" class="dropdown-item"><i
                                title="Altere as entidades órgão, divisão seção ou setor do usuário!"
                                class="bi bi-building-fill-gear"> </i>Alterar entidades</a>
                    </li>
                }
                else
                {
                    string userSession = _httpContext.HttpContext.Session.GetString("userCheckIn");
                    Users user = JsonSerializer.Deserialize<Users>(userSession);

                    if(user.Login == Model.Login && user.Masp == Model.Masp)
                    {
                        <li><a type="button" data-bs-toggle="modal" data-bs-target="#change-pass"
                        title="Alterar senha do usuário !" class="dropdown-item"><i title="Altere a senha do usuário !"
                            class="bi bi-file-earmark-lock2"> </i>Alterar senha</a>
                    </li>
                    }
                    <li><a type="button" data-bs-toggle="modal" data-bs-target="#change-structures"
                            title="Altere as entidades órgão, divisão, seção ou setor do usuário!" class="dropdown-item"><i
                                title="Altere as entidades órgão, divisão seção ou setor do usuário!"
                                class="bi bi-building-fill-gear"> </i>Alterar entidades</a>
                    </li>
                }
            </ul>

        </li>

    </ul>

</div>
