@model Users

@using SEP_Web.Models
@using SEP_Web.Models.UsersModels
@using SEP_Web.Keys

<div class="control-level col-md-4">

    <div class="input-group input-group-sm">
        <span class="input-group-text" id="basic-addon1" title="usuário logado..."><i class="bi bi-person-fill"></i></span>
        <input name="login-profile" type="text" title="usuário logado..." class="form-control form-control-sm" value="@Model.Login" aria-label="Username" aria-describedby="basic-addon1" disabled>
    </div>

    @if (Model.UserType == UsersTypeEnum.User_Admin)
    {
        <div class="input-group input-group-sm">
            <span class="input-group-text" id="basic-addon2"><i class="bi bi-file-lock2-fill"></i></span>
            <input  name="level-profile" type="text" title="Nível de acesso do usuário..." class="form-control form-control-sm" value="Administrador" aria-label="Username" aria-describedby="basic-addon2" disabled>
        </div>
    }

    @if (Model.UserType == UsersTypeEnum.User_Evaluator)
    {
        <div class="input-group input-group-sm">
            <span class="input-group-text" id="basic-addon3"><i class="bi bi-file-lock2-fill"></i></span>
            <input type="text" title="Nível de acesso do usuário..." class="form-control form-control-sm" value="Avaliador" aria-label="Username" aria-describedby="basic-addon3" disabled>
        </div>
    }

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

</div>

<div class="logo col-md-3">
    <a asp-action="Index" asp-controller="Home"><img id="logo" src="/images/pmtm-logo5.png" alt="logotipo prefeitura municipal de três marias"></a>
    <h1 class="me-2">SEP - SISTEMA DE ESTÁGIO PROBATÓRIO</h1>
</div>

<div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

        <li title="Home ..." class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home ..."><i title="Home ..." class="bi bi-house-door-fill"></i> Início</a>
        </li>

        <li class="nav-item dropdown">
            <a title="usuários ..." class="nav-link dropdown-toggle" id="menu-users" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i title="usuários ..." class="bi bi-person-fill-add"></i> Usuários</a>
            <ul class="dropdown-menu" aria-labelledby="menu-users">
                @if (Model.UserType == UsersTypeEnum.User_Admin)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="UserAdministrator" asp-action="Index">Administradores</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                }
                <li>
                    <a class="dropdown-item" asp-controller="UserEvaluator" asp-action="Index">Avaliadores</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" asp-controller="CivilServant" asp-action="Index">Servidores</a>
                </li>
            </ul>
        </li>

        @if (Model.UserType == UsersTypeEnum.User_Admin)
        {
            <li class="nav-item dropdown">
                <a title="estruturas ..." class="nav-link dropdown-toggle" id="menu-structure" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i title="estruturas ..." class="bi bi-building-fill-add"></i> Organizações</a>
                <ul class="dropdown-menu" aria-labelledby="menu-structure">
                    <li>
                        <a class="dropdown-item" asp-controller="Instituition" asp-action="Index">Órgãos</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Division" asp-action="Index">Divisões</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Section" asp-action="Index">Seções</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Sector" asp-action="Index">Setores</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a title="licenças ..." class="nav-link dropdown-toggle" id="menu-license" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i title="licenças ..." class="bi bi-stickies-fill"></i> Licenças</a>
                <ul class="dropdown-menu" aria-labelledby="menu-license">
                    <li>
                        <a class="dropdown-item" asp-controller="License" asp-action="Index">Tipos de Licença</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="ServantLicense" asp-action="Index">Sob Licença</a>
                    </li>
                </ul>
            </li>
        }

        <li title="avaliações ..." class="nav-item">
            <a class="nav-link" asp-controller="Assessments" asp-action="Index" title="avaliações ..."><i class="bi bi-journal-bookmark-fill" title="avaliações ..."></i> Avaliações</a>
        </li>
        <li class="nav-item" title="Sair ...">
            <a class="nav-link" asp-controller="Login" asp-action="Logout" title="Sair ..."><i class="bi bi-door-open-fill"></i> Sair</a>
        </li>

    </ul>

</div>