
/* Lista de administradores => (Index.cshtml) */

.users-table tr > th:first-child,
.users-table tr > td:first-child,
.users-table tr > td:nth-child(7),
.users-table tr > th:nth-child(7) {
  width: 8%;
  white-space: nowrap;
  text-align: center;
}

.users-table tr > td:nth-child(2) {
  width: auto;
  white-space: nowrap;
  text-align: center;
}

.users-table tr > th:nth-child(2),
.users-table tr > td:nth-child(3),
.users-table tr > th:nth-child(3),
.users-table tr > td:nth-child(5),
.users-table tr > th:nth-child(5),
.users-table tr > td:nth-child(4),
.users-table tr > th:nth-child(4),
.users-table tr > td:nth-child(6),
.users-table tr > th:nth-child(6) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}


.assessments-table tr > th:nth-child(5) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

/* Formulário de registro de administradores => (Register.cshtml) */

.alert-register-success {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 0%;
  width: 100vh;
}

.alert-register-error {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -6vh;
  width: 100vh;
}

.alert-edit-success {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: -5vh;
  width: 100%;
}

.alert-edit-success i {
  margin-right: 3vh;
}

.adm-line {
  background-color: #0077cc;
  width: 43vh;
  height: 1.5px;
  margin: auto;
}

.register-adm-form {
  display: flex;
  flex-direction: column;
  background-color: #9dbdc8ac;
  padding: 2.5vh;
  border-radius: 10px;
  margin-top: -1.5vh;
  box-shadow: 6px 8px 5px rgba(0, 0, 0, 0.2);
}

.register-adm-form .form-group {
  margin-left: 1vh;
  margin-left: 1vh;
  margin-top: 1vh;
  margin-bottom: auto;
}

.register-adm-form .form-group:nth-child(1),
.register-adm-form .form-group:nth-child(5) {
  margin-top: 7vh;
}

.register-adm-form .validate-fields {
  margin: 0vh;
}

.adm-col {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  margin: -0.2vh;
}

@media screen and (min-width: 500px) and (max-width: 1100px) {

  .dataTables_wrapper .row .col-sm-12:nth-child(1){
    width: auto;
  }

  .dataTables_wrapper .row .col-sm-12:nth-child(2) {
    width: auto;
  }

  .dataTables_wrapper .row:nth-child(2){
    width: 55rem;
  }

  #DataTables_Table_0_info {
    padding: 0%;
    margin: 1vh 0vh 0vh 0vh;
  }

  .dataTables_wrapper .row:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 55rem;
    margin: 0%;
    padding: 0%;
  }

  .dataTables_wrapper .row:nth-child(3){
    display: flex;
    justify-content: space-between;
    width: 55rem;
    margin: 0%;
    padding: 0%;
  }

}