/* Lista de avaliações => (Index.cshtml) */
#assessments-data {
  padding: 1.5vh;
}

#assessments-data section{
  border: 1px solid #b7b6b6;
  background-color: #cdcdcda6;
  color: #636262;
}

#assessments-data section:hover {
  cursor: pointer;
}

.assessments-table tr > th:first-child,
.assessments-table tr > td:first-child {
  width: 8%;
  white-space: nowrap;
  text-align: center;
}

.assessments-table tr > td:nth-child(4) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.assessments-table tr > th:nth-child(2),
.assessments-table tr > td:nth-child(2)
.assessments-table tr > td:nth-child(3),
.assessments-table tr > td:nth-child(5),
.assessments-table tr > td:nth-child(6),
.assessments-table tr > td:nth-child(7),
.assessments-table tr > th:nth-child(7) {
  width: auto;
  white-space: nowrap;
  text-align: center;
}

#assessments-header {
  margin-top: -3%;
}

#assessments-header .nav-tabs{
  display: flex;
  flex-direction: row;
  font-size: 82%;
}

#assessments-header button {
  font-weight: 500;
}

#assessments-header .nav-item button:hover {
  background-color: #0077cc53 !important;
  color: #fff;
  box-shadow: 2px 2px 5px #00000061;
}

#assessments-header .nav-item>button.active {
  background-color: #0077cca5 !important;
  color: #fff;
  box-shadow: 2px 2px 5px #00000061;
}

#avaliacaoTabContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5vh;
  background-color: #cdcdcdd3;
  border-radius: 0.5vh;
  box-shadow: 2px 5px 20px #00000049;
  margin-bottom: 1rem;
}

#avaliacaoTabContent ul{
  height: 100%;
}

#avaliacaoTabContent li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: smaller;
}

#avaliacaoTabContent li span {
  font-weight: bold;
}

.assessments-form {
  height: 100%;
}

.list-group li{
  display: flex;
  justify-content: space-between;
}

.list-group {
  height: 100%;
}

.list-group select {
  width: 5rem;
}

#clau10-row {
  width: 75%;
  display: flex;
  align-items: center;
}

#justification {
  width: 45em;
}

.tab-pane {
  height: 100%;
  margin-bottom: 1rem;
}