/* Lista de avaliações => (Index.cshtml) */

.assessments-table tr > th:first-child,
.assessments-table tr > td:first-child {
  width: 8%;
  white-space: nowrap;
  text-align: center;
}

.assessments-table tr > td:nth-child(4) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.assessments-table tr > th:nth-child(2),
.assessments-table tr > td:nth-child(2)
.assessments-table tr > td:nth-child(3),
.assessments-table tr > td:nth-child(5),
.assessments-table tr > td:nth-child(6),
.assessments-table tr > td:nth-child(7),
.assessments-table tr > th:nth-child(7) {
  width: auto;
  white-space: nowrap;
  text-align: center;
}

#assessments-header .nav-tabs{
  display: flex;
  flex-direction: row;
  font-size: 82%;
}

#assessments-header button {
  font-weight: 500;
}

#avaliacaoTabContent ul{
  height: 18em;
}

#avaliacaoTabContent li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: smaller;
}

#avaliacaoTabContent li span {
  font-weight: bold;
}

.assessments-form {
  height: 100%;
}

#clau10-row {
  width: 75%;
  display: flex;
  align-items: center;
}

#justification {
  width: 45em;
}