/* Lista de avaliações => (Index.cshtml) */
#assessments-data {
  padding: 1.5vh;
}

#assessments-data section{
  border: 1px solid #b7b6b6;
  background-color: #cdcdcda6;
  color: #636262;
}

#assessments-data section:hover {
  cursor: pointer;
}

.assessments-table tr > th:first-child,
.assessments-table tr > td:first-child {
  width: 8%;
  white-space: nowrap;
  text-align: center;
}

.assessments-table tr > td:nth-child(4) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.assessments-table tr > th:nth-child(2),
.assessments-table tr > td:nth-child(2)
.assessments-table tr > td:nth-child(3),
.assessments-table tr > td:nth-child(5),
.assessments-table tr > td:nth-child(6),
.assessments-table tr > td:nth-child(7),
.assessments-table tr > th:nth-child(7) {
  width: auto;
  white-space: nowrap;
  text-align: center;
}

#assessments-header {
  margin-top: -3%;
}

#assessments-header .nav-tabs{
  display: flex;
  flex-direction: row;
  font-size: 82%;
}

#assessments-header button {
  font-weight: 500;
}

#assessments-header .nav-item button:hover {
  background-color: #0077cc53 !important;
  color: #fff;
  box-shadow: 2px 2px 5px #00000061;
}

#assessments-header .nav-item>button.active {
  background-color: #0077cca5 !important;
  color: #fff;
  box-shadow: 2px 2px 5px #00000061;
}

#avaliacaoTabContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5vh;
  background-color: #cdcdcdd3;
  border-radius: 0.5vh;
  box-shadow: 2px 5px 20px #00000049;
  margin-bottom: 1rem;
}

#avaliacaoTabContent ul{
  height: 100%;
}

#avaliacaoTabContent li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: smaller;
}

#avaliacaoTabContent li span {
  font-weight: bold;
}

.assessments-form {
  height: 100%;
}

.list-group li{
  display: flex;
  justify-content: space-between;
}

.list-group {
  height: 100%;
}

.list-group select {
  width: 5rem;
}

#clau10-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#clau10-row .form-check input {
  height: 2rem;
}

.clau10-radio .form-check{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.clau10-radio .form-check input {
  width: 1rem;
  height: 1rem;
  margin: auto;
}

#avaliacaoTabContent .line-assess{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

#avaliacaoTabContent .list-group p {
  width: 90%;
  text-align: justify;
  margin-bottom: 0%;
}

#avaliacaoTabContent .list-group-item .assess-line-al {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 95%;
}

.list-group-item input {
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 15rem;
  height: 2rem;
}

.list-group-item input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

#justification {
  width: 45em;
}

.invalid {
  border: 1px solid #DC3545;
}

input:focus {
  border-color: #DC3545 !important;
  -webkit-box-shadow: 0 0 8px #DC3545 !important;
  box-shadow: 0 0 8px #DC3545 !important;
}

.invalid::placeholder {
  color: #dc3546c2;
}

.tab-pane {
  height: 100%;
  margin-bottom: 1rem;
}