.enableDisableModal {
    font-size: 0.8em;
    text-align: justify;
}

.btn-enableDisable {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vh;
    background-color: #4752617a;
    box-shadow: 1.5px 5px 4px #51515156;
    border: 0.2vh solid #c6c6c6;
    font-size: 0.95rem;
    padding: 0.3rem;
}

.btn-enableDisable input {
    margin: auto;
}

.btn-enableDisable,
label,
input:hover {
    cursor: pointer;
}

.btn-enableDisable label {
    margin: auto;
    color: rgb(220, 220, 220);
}