#license-table tr > td:first-child {
  width: 95%;
  white-space: nowrap;
  text-align: left;
}

#license-table tr > td:last-child {
  width: 2rem;
  white-space: nowrap;
}

.servantLicense-table tr, td{
  width: 2rem;
  white-space: nowrap;
  text-align: left;
}

.servantLicense-table tr > td:last-child {
  width: 1rem;
  white-space: nowrap;
}