/* Layout da página de exibição do formulário de login */
#loggedout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

#login-image {
    width: 7.5rem;
    height: 4rem;
}

#loggedout-page {
    display: flex;
    height: 100%;
    margin-bottom: 1rem;
}


/* Estilização do card de login */

#login-card .card {
    width: 50%;
}

#login-card .card .card-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-alert {
    font-size: 0.75em;
    text-align: center;
    font-weight: 500;
}

#login-alert .alert {
    margin: -2rem 0rem 0rem 0rem;
    text-align: justify;
    width: 100%;
}

/* Estilização do formulário de login */

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35rem;
}

#login-form .form-control:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none;
}

.input-group {
    width: 30rem;
}

#login-password {
    border-right: none;
}

#toggle-password {
    background-color: #ffff;
    color: #0077cc;
    cursor: pointer;
}

/* @media */
@media (min-width: 1400px) {
    #login-container {
        height: 40vh;
    }
}