/* Layout da página de exibição do formulário de login */
#loggedout-container {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

#login-image {
    width: 7.5rem;
    height: 4rem;
}

#loggedout-page {
    display: flex;
    padding: 0%;
    margin-top: 3vh;
    height: 100%;
}


/* Estilização do card de login */
#login-card .card-body {
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 5vh;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    padding: 3rem;
}

#login-alert {
    font-size: 0.75em;
    width: auto;
    text-align: center;
    margin-top: -4vh;
    margin-bottom: 0%;
    font-weight: 500;
}

/* Estilização do formulário de login */
#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

#login-form .form-control:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login-password {
    border-right: none;
}

#toggle-password {
    background-color: #ffff;
    color: #0077cc;
    cursor: pointer;
}

/* @media */
@media (min-width: 1400px) {
    #login-container {
      height: 40vh;
    }
  }