#loggedout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#login-alert {
  display: flex;
  text-align: justify;
  width: 100%;
  height: auto;
  font-size: 0.8rem;
}

#login-alert .alert{
  display: flex;
  text-align: justify;
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  margin-top: -1rem;
}

#login-container .card {
  max-width: 31rem;
  width: 100%;
}

#login-form .form-control:focus {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none;
}

#login-password {
  border-right: none;
}

#toggle-password {
  background-color: #ffff;
  color: #0077cc;
  cursor: pointer;
}

@media (min-width: 1400px) {
  #login-container {
    height: auto;
  }
}

@media (max-width: 500px) {
  #loggedout-container header nav a {
    font-size: 1.3rem;
  }

  #loggedout-container .logo {
    display: none;
  }

  #login-container .card {
    margin: 0 0rem;
  }
}