.control-level {
  display: flex;
  width: 65vh;
}

.control-level .input-group {
  width: 30vh;
  margin: auto;
  text-align: center;
}

.control-level .input-group .form-control {
  background-color: #ebeeefb6;
}

#logo {
  width: 12.5vh;
  height: 7vh;
}
