#my-header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control-level {
  display: flex;
}

.control-level .input-group {
  margin: 1vh;
  text-align: center;
}

.control-level .input-group .form-control {
  background-color: #ebeeefb6;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.logo img{
  max-width: 100%;
  height: auto;
}

.logo h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
  font-weight: bold;
}

.navbar-collapse ul{
  margin: auto;
  max-width: 100%;
}

#navbarNav li a{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.9rem;
  margin-left: 1vh;
  border-bottom: 0.5vh solid #b5b6b6ad;
}

#navbarNav li a i{
  margin-right: 1vh;
}

#navbarNav li a:hover{
  background-color: #1b6fc21a;
  border-radius: 0vh 1.5vh;
  border-bottom-color: #1b6ec2;
  transition: 0.3s ease-in-out;
}

#navbarNav .dropdown-menu li a{
  margin-left: 0vh;
  border-bottom: none;
  border-radius: 0vh;
}

@media (max-width: 850px)
{
  .control-level {
    display: flex;
    width: 100%;
  }
  
  .control-level .input-group {
    width: 11rem;
    margin: auto;
    text-align: center;
  }

  #logo {
    display: none;
  }

  .logo h1{
    display: none;
  }

  #navbarNav li a{
    margin-left: 0vh;
    border-bottom: 0.3vh solid #b5b6b6ad;
  }

  #navbarNav li a:hover{
    background-color: #f1f1f100;
    border-radius: 0vh;
  }
  
  #navbarNav .dropdown-menu li a{
    margin-left: 0vh;
    border-bottom: none;
    border-radius: 0vh;
  }

  #navbarNav .dropdown-menu li a:hover{
    background-color: #1b6fc21a;
  }

}
