.servant-line {
  background-color: #222222;
  padding: 1px;
  width: 80%;
  margin: 3vh 10vh 4vh 10vh;
  box-shadow: 1.5px 2px 2px rgb(255, 255, 255);
  border-radius: 2vh;
}

.servant-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#servant-phone {
  margin-top: 1vh;
}

.servant-col .validate-fields {
  margin-bottom: -2vh;
  padding: 0%;
}
