html {
  font-size: 0.95em;
}

.table-responsive {
  padding: 0.3rem;
}

.odd td #statsActive,
.odd td #statsInactive,
.even td #statsActive,
.even td #statsInactive {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  position: relative;
  min-height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  background-image: url("../images/sep_web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin-bottom: 10vh;
}

main {
  margin-top: 12vh;
}

table {
  width: 100%;
}

table td {
  color: #7a7a7a;
}

td {
  text-align: center;
  vertical-align: middle;
  height: 25%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

tbody:hover {
  cursor: pointer;
}

/* Envolve a linha completa em um flex container */
#servant-table_length,
#servant-table_filter {
  display: flex;
  align-items: center;
}

/* Responsividade */
@media (max-width: 768px) {
  
  .dataTables_filter {
    margin-top: 1.5rem;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  .footer {
    font-size: 0.9rem;
  }

  .card {
    width: 100%;
    margin: 1rem auto;
  }

  main {
    margin-top: 2vh;
  }
}