html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  background-image: url("../images/sep_web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin-bottom: 12vh;
}

table {
  width: 100%;
}

table td{
  color: #7a7a7a;
}

td {
  text-align: center;
  vertical-align: middle;
  height: 25%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
}

.modal-body {
  padding: 2vh;
  text-align: justify;
}

.alert {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-alert {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -1.5vh;
  top: -2vh;
  border-radius: 1vh;
  width: 4.5vh;
  height: 4.5vh;
  margin: 0%;
}

.pop-up {
  display: flex;
  align-items: center;
  padding: 2vh;
  margin-top: 3vh;
}

.pop-up .alert {
  margin-left: 10vh;
}

.pop-up .alert i{
  margin-right: 1.5vh;
}

.close-span {
  position: relative;
  font-size: 3vh;
  font-weight: bold;
  top: -0.3vh;
  padding: 0;
}

#instituition-table {
  padding: 1vh;
}

#instituition-table tr > td:first-child {
  width: 90%;
  white-space: nowrap;
  text-align: left;
}

#evaluator-table tr > td:first-child,
#evaluator-table tr > th:first-child{
  width: 20%;
  white-space: nowrap;
  text-align: center;
}

#evaluator-table tr > td:nth-child(6)
#evaluator-table tr > th:nth-child(6) {
  width: 1%;
  white-space: nowrap;
  text-align: center;
}

#evaluator-table tr > td:nth-child(2),
#evaluator-table tr > td:nth-child(3),
#evaluator-table tr > td:nth-child(4),
#evaluator-table tr > td:nth-child(5){
  width: 98%;
  white-space: nowrap;
  text-align: left;
}

#servant-table tr > td:first-child,
#servant-table tr > th:first-child,
#servant-table tr > td:nth-child(2),
#servant-table tr > th:nth-child(2){
  width: 5%;
  white-space: nowrap;
  text-align: center;
}

#servant-table tr > td:nth-child(3),
#servant-table tr > td:nth-child(4),
#servant-table tr > td:nth-child(5),
#servant-table tr > td:nth-child(6){
  width: 10%;
  white-space: nowrap;
  text-align: justify;
}

#servant-table tr > td:nth-child(7){
  width: 2%;
  white-space: nowrap;
  text-align: center;
}

.duo-table tr > td:first-child,
.duo-table tr > td:nth-child(2) {
  width: 45%;
  white-space: nowrap;
  text-align: left;
}

.servant-col {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
}

#servant-phone {
  margin-top: 1vh;
}

.servant-col .validate-fields{
  margin-bottom: -2vh;
  padding: 0%;
}



/* START: Chrome e outros - Ocultar setas do input type="number" */

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* END: Chrome e outros - Ocultar setas do input type="number" */

#evaluator-line {
  background-color: #222222;
  padding: 1px;
  width: 80%;
  margin: 0vh 10vh 2.5vh 10vh;
  box-shadow: 1.5px 2px 2px rgb(255, 255, 255);
  border-radius: 2vh;
}

.servant-line {
  background-color: #222222;
  padding: 1px;
  width: 80%;
  margin: 3vh 10vh 4vh 10vh;
  box-shadow: 1.5px 2px 2px rgb(255, 255, 255);
  border-radius: 2vh;
}

.evaluator-col {
  height: 10vh; 
  display:flex; 
  flex-direction:column; 
  justify-content:center;
}

.sorting::before {
  color: #0077cc;
  margin: 1px;
}

.sorting::after {
  color: #0077cc;
  margin: 1px;
}

.disabled-box:hover {
  cursor:not-allowed;
}

#statsServantActive, 
#statsServantInactive:hover {
  cursor: pointer;
}

.field-validation-error, .select-validation-error {
  color: #e01d1d;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 5vh;
}

.validate-fields {
  margin-bottom: -20px;
  height: 4vh;
  padding: 0;
}