#instituition-table tr > td:first-child {
  width: 95%;
  white-space: nowrap;
  text-align: left;
}

#instituition-table tr > td:last-child {
  width: 2rem;
  white-space: nowrap;
}

.modify-structure-form .evaluator-col{
  padding: 0.8rem;
}

.duo-table tr > td:first-child,
.duo-table tr > td:nth-child(2) {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.duo-table tr > td:last-child {
  width: 2rem;
  white-space: nowrap;
}