#instituition-table tr > td:first-child {
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.duo-table tr > td:first-child,
.duo-table tr > td:nth-child(2) {
  width: 45%;
  white-space: nowrap;
  text-align: left;
}
