@model InstituitionViewModel
@using SEP_Web.Models
@using SEP_Web.ViewModels

@{
    ViewData["Title"] = "Excluir Usuário";
}

<!-- Partial View de Exclusão de Órgãos -->

<div>

    <form asp-controller="Instituition" asp-action="Delete" method="post">

        <input type="hidden" asp-for="Id">

        <div class="p-3">
            <span>Tem certeza que deseja excluir o órgão: <b>@Model.Name</b>? Essa ação irá excluí-lo de forma <b class="text-danger">permanente</b>, consequentemente todas as demais entidades
             <b>(Divisões, Seções, Setores, Avaliadores e Servidores)</b> que foram cadastradas com base neste órgão serão excluídas. A ação não poderá ser desfeita, ao prosseguir você concorda com estes termos.</span>
        </div>

        <div class="modal-footer -flex justify-content-start p-2">
            <button type="submit" class="btn btn-danger btn-sm" name="decision" value="delete" title="Excluir órgão ..."><i title="Excluir órgão ..." class="bi bi-trash"></i></button>
            <a asp-controller="Instituition" asp-action="Index" class="btn btn-secondary btn-sm" title="Cancelar"><i class="bi bi-arrow-return-left" title="Cancelar"></i></a>
        </div>

    </form>

</div>

<!-- / Partial View de Exclusão de Órgãos -->