@model Instituition
@using SEP_Web.Models
@{
    ViewData["Title"] = "Edição de órgão";
}

<div>

    <form id="edit-instiuition-form">

        <input id="edit-instituition-id" type="hidden" asp-for="Id">
        <input id="edit-instituition-admId" type="hidden" asp-for="UserAdministratorId">

        <div class="form-group p-3">
            <label class="form-label" for="edit-instituition-name" hidden></label>
            <input type="text" class="form-control" maxlength="60" minlength="8" id="edit-instituition-name" name="name" asp-for="Name" autocomplete="disabled"/>
            <div class="validate-fields">
                <span class="field-validation-error"></span>
            </div>
        </div>

        <div class="d-flex justify-content-start modal-footer p-2">

            <button type="submit" class="btn btn-sm btn-primary" title="Editar ..."><i class="bi bi-check-circle-fill" title="Cadastrar ..."></i></button>
            <a asp-controller="Instituition" asp-action="Index" class="btn btn-sm btn-danger" title="Cancelar ..."><i class="bi bi-x-circle-fill" title="Cancelar ..."></i></a>

        </div>

    </form>

</div>