@model Instituition

@using SEP_Web.Models
@using SEP_Web.Models.StructuresModels

@{
    ViewData["Title"] = "Cadastrar Órgão";
}

<!-- Partial View de Cadastro de Órgãos -->

<div>

    <form id="instituition-form">

        <div class="form-group p-4">
            <label class="form-label" for="instituition-name" hidden></label>
            <input type="text" placeholder="Informe a descrição do órgão :" class="form-control" id="instituition-name" name="name" autocomplete="disabled"/>
            <div class="validate-fields">
                <span class="field-validation-error"></span>
            </div>
        </div>

        <div class="d-flex justify-content-start modal-footer p-2">

            <button type="submit" class="btn btn-sm btn-primary" title="Cadastrar ..."><i class="bi bi-check-circle-fill" title="Cadastrar ..."></i></button>
            <a asp-controller="Instituition" asp-action="Index" class="btn btn-sm btn-danger" title="Cancelar ..."><i class="bi bi-x-circle-fill" title="Cancelar ..."></i></a>

        </div>

    </form>

</div>

<!-- Partial View de Cadastro de Órgãos -->