@model ICollection<ServantLicense>

@using SEP_Web.Models.LicensesModels

@{
    ViewData["Title"] = "Servidores sob licença";
}

<div>
    <div class="container-fluid justify-content-start w-100 pop-up">
        <a title="adicionar licença para servidor ..." type="button" data-bs-toggle="modal"
            data-bs-target="#license-register" class="btn btn-primary d-flex justify-content-evenly btn-md"><i
                title="adicionar licença para servidor ..." class="bi bi-journal-medical"></i> Novo</a>
        @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")
    </div>

    @* Modal de Registro *@
    <div class="modal fade" id="license-register" tabindex="-1" role="dialog" aria-labelledby="license-registerTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light p-3">
                    <h3 class="modal-title fs-4 text-center">Aplicar Licença</h3>
                    <a type="button" class="btn-close bg-light" asp-action="Index" asp-controller="ServantLicense"></a>
                </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("_Register.cshtml", new ServantLicense())
                </div>
            </div>
        </div>
    </div>
    @* Fim do Modal de Registro *@

    <div class="card">
        <div class="card-header bg-primary text-light">
            <span class="fw-bold">@ViewData["Title"] :</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="servantLicense-table"
                    class="table table-sm table-bordered servantLicense-table table-striped table-light p-0">
                    <thead class="table-light bg-danger border-light text-primary">
                        <tr>
                            <th scope="col">MASP</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Licença</th>
                            <th scope="col">Data de início</th>
                            <th scope="col">Data de Término</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @* A tabela será preenchida pelo DataTables via AJAX *@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="dynamic-modal"></div> @* Contêiner para injetar modais dinâmicos *@
</div>