@model SectorViewModel

@using SEP_Web.Models.StructuresModels
@using SEP_Web.ViewModels

@{
    ViewData["Title"] = "Excluir Setor";
}

<!-- Partial View de Exclusão de Setores -->

<div>

    <form asp-controller="Sector" asp-action="Delete" method="post">

        <input type="hidden" asp-for="Id">

        <div class="p-3">
            <span>Tem certeza que deseja excluir o setor: <b>@Model.Name</b>? Essa ação irá excluí-lo de forma <b class="text-danger">permanente</b>, consequentemente todas as demais entidades <b>(Avaliadores e Servidores)</b> que foram cadastradas com base nesta divisão serão excluídas. A ação não poderá ser desfeita, ao prosseguir você concorda com estes termos.</span>
        </div>

        <div class="modal-footer -flex justify-content-start p-2">
            <button type="submit" title="Excluir setor ..." class="btn btn-danger btn-sm" name="decision" value="delete"><i title="Excluir setor ..." class="bi bi-trash"></i></button>
            <a asp-controller="Sector" asp-action="Index" title="Cancelar ..." class="btn btn-secondary btn-sm"><i title="Cancelar ..." class="bi bi-arrow-return-left"></i></a>
        </div>

    </form>

</div>

<!-- / Partial View de Exclusão de Setores -->