@model SectorViewModel
@using SEP_Web.Models
@using SEP_Web.ViewModels
@using SEP_Web.Services
@inject ISectionServices _sectionServices
@{
    ViewData["Title"] = "Edição de setores";
}

<!-- Partial View de Edição de Setores -->

<div>

    <form id="edit-sector-form" asp-action="Edit" asp-controller="Sector" method="post">

        <input type="hidden" asp-for="Id">

        <div class="form-group p-4">
            <label for="edit-sector-sectionid" hidden>Seção: </label>
            <select class="form-select" id="edit-sector-sectionid" asp-for="SectionId">
                <option value=""> -- selecione a seção -- </option>
                @foreach (var i in await _sectionServices.SectionsList())
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
            <div class="validate-fields mb-1">
                <span class="select-validation-error"></span>
            </div>

            <label class="form-label" for="edit-sector-name" hidden>Nome do setor: </label>
            <input type="text" placeholder="Informe a descrição do setor :" class="form-control" id="edit-sector-name" asp-for="Name" autocomplete="disabled"/>
            <div class="validate-fields">
                <span class="field-validation-error"></span>
            </div>

        </div>

        <div class="d-flex justify-content-start modal-footer p-2">

            <button type="submit" class="btn btn-sm btn-primary" title="Cadastrar ..."><i class="bi bi-check-circle-fill" title="Cadastrar ..."></i></button>
            <a asp-controller="Sector" asp-action="Index" class="btn btn-sm btn-danger" title="Cancelar ..."><i class="bi bi-x-circle-fill" title="Cancelar ..."></i></a>

        </div>

    </form>

</div>

<!-- Partial View de Edição de Setores -->