@model ICollection<DivisionViewModel>

@using SEP_Web.Models.StructuresModels
@using SEP_Web.ViewModels
@using SEP_Web.Interfaces.StructuresInterfaces

@inject IInstituitionServices _instituitionServices

@{
    ViewData["Title"] = "Divisões";
}

<div>

    <div class="container-fluid justify-content-start w-100 pop-up">
        <a title="Cadastrar nova divisão ..." type="button" data-bs-toggle="modal" data-bs-target="#division-register" class="btn btn-primary d-flex justify-content-evenly btn-md"><i class="bi bi-building-add"></i> Novo</a>
        @await Html.PartialAsync("../Shared/Components/Alerts/_Alerts.cshtml")
    </div>

    @* Modal de Registro *@

    <div class="modal fade" id="division-register" tabindex="-1" role="dialog" aria-labelledby="division-registerTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-light bg-primary p-3">
                    <h3 class="modal-title fs-4 text-center">Adicionar divisão</h3>
                    <a type="button" class="btn-close bg-light" asp-action="Index" asp-controller="Division"></a>
                </div>
                <div class="modal-body p-1">
                    @await Html.PartialAsync("_Register.cshtml", new Division())
                </div>
            </div>
        </div>
    </div>

    @* Fim do Modal de Registro *@

    <div class="card">

        <div class="card-header bg-primary text-light">
            <span class="fw-bold">@ViewData["Title"] :</span>
        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table id="division-table" class="table table-sm table-bordered table-striped table-light table-style duo-table p-0">

                    <thead class="table-light bg-danger border-light text-primary">
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Órgão</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (DivisionViewModel division in Model)
                        {
                            string instituitionName = await _instituitionServices.InstituitionsName(division.InstituitionId);
                            <tr class="table-light border-light">

                                <td scope="row">@division.Name.ToUpper()</td>
                                <td scope="row">@instituitionName.ToUpper()</td>

                                <td scope="row">

                                    <button type="button" title="Editar divisão ..." data-bs-toggle="modal"
                                        data-bs-target="#edit-divisionModal@(division.Id)"
                                        class="btn btn-sm btn-outline-primary"><i title="Editar divisão ..."
                                            class="bi bi-building-up"></i></button>
                                            
                                    <button type="button" title="Excluir divisão ..." data-bs-toggle="modal"
                                            asp-route-id="@division.Id" data-bs-target="#deleteDivision@(division.Id)"
                                            class="btn btn-sm btn-outline-danger"><i title="Excluir divisão ..."
                                                class="bi bi-building-x"></i></button>

                                </td>

                            </tr>

                            @* Modal de Edição *@

                            <div class="modal fade" id="edit-divisionModal@(division.Id)" tabindex="-1" role="dialog"
                                aria-labelledby="edit-divisionModal@(division.Id)" aria-hidden="true">

                                <div class="modal-dialog modal-md modal-dialog-centered" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header bg-primary p-3">
                                            <h3 class="modal-title text-light fs-4 text-center" id="division-editTitle">Editar
                                                divisão
                                            </h3>
                                            <a type="button" class="btn-close bg-light" asp-action="Index" asp-controller="Division"></a>
                                        </div>
                                        <div class="modal-body p-1">
                                            @await Html.PartialAsync("_Edit.cshtml", division)
                                        </div>
                                    </div>

                                </div>

                            </div>

                            @* Fim do Modal de Edição *@

                            @* Modal de Exclusão *@

                            <div class="modal fade" id="deleteDivision@(division.Id)" tabindex="-1" role="dialog"
                                aria-labelledby="deleteDivision@(division.Id)" aria-hidden="true">

                                <div class="modal-dialog modal-md modal-dialog-centered" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header bg-danger p-3">
                                            <h3 class="modal-title text-light fs-4 text-center"> Alerta</h3>
                                            <a type="button" class="btn-close bg-light" asp-action="Index"
                                                asp-controller="Division"></a>
                                        </div>
                                        <div class="modal-body p-1">
                                            @await Html.PartialAsync("_Delete.cshtml", division)
                                        </div>
                                    </div>

                                </div>

                            </div>

                            @* Fim do Modal de Exclusão *@
                        }

                    </tbody>

                </table>

            </div>
            
        </div>

    </div>

</div>